/* NORMALIZER, CLEARFIX & BORDER-BOX */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }


/* VARIABLES */

$headingFont: 'Oswald', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$mainColour: #00245d;
$accentColour: #e7a614;


/*GENERAL STYLINGS*/

html {
	font-size: 62.5%
}

body {
	background-color: $mainColour;
	font-family: $bodyFont;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
	color: white;
}

h1,
h2 {
	font-family: $headingFont;
}

h1 {
	margin: 0 auto;
	font-size: 6rem;
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
}

h2 {
	margin-bottom: 40px;
	font-size: 2rem;
	font-weight: 300;
	color: $accentColour;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.logo {
	width: 100%;
	img {
		display: block;
	width: 20%;
	margin: 0 auto;
	}
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}


.formContainer {
	width: 100%;
}
form {
	width: 100%;
	select {
	display: block;
	margin: 0 auto;
	width: 30%;
	}
}
form p {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
}
/* HEADER STYLINGS */
header {
	padding: 80px 0;
	text-align: center;
}

/* RESULTS SECTION STYLINGS */

/* top ten movies */
.moviePoster {
	width: calc(20% - 20px);
	margin: 10px;
	box-shadow: 0px 0px 20px black;
}

.moviePoster:hover {
	cursor: pointer;
}


/* more info stylings */
.moreInfo {
	display: flex;
	margin: 10px;
	padding: 5px;
	color:white;
	background: #919195;
	transition: all 0.3s;
} 

.closeMoreInfo .fa-times {
	font-size: 2.3rem;
	color: black;
	padding: 10px;
}

.fa-times:hover {
	cursor: pointer;
}

.infoPoster img {
	width: 260px;
	margin: 10px;
}

.infoContent {
	display: flex;
	flex-direction: column;
	margin: 10px;

	h3 {
		font-family: $headingFont;
		font-weight: 400;
		font-size: 2.5rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: black;
	}
}

.infoContent p {
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	max-width: 200px;
	padding: 10px;
	color: black;
	text-transform: uppercase;
	text-align: center;
	font-family: $headingFont;
	font-weight: 400;
	background: $accentColour;
}
.btn:hover {
		cursor: pointer;
		box-shadow: 1px 1px 10px #e7a614;
	}
footer {
	margin: 0 auto;
	padding: 5px;
	width: 80%;
	border-top: 1px solid  $accentColour;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 2px;
}
